<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>confirmColors</key>
	<array>
		<string>26,188,156</string>
		<string>46,204,113</string>
	</array>
	<key>destructiveColors</key>
	<array>
		<string>230,126,34</string>
		<string>231,76,60</string>
	</array>
	<key>otherColors</key>
	<array>
		<string>52,152,219</string>
		<string>155, 89, 182</string>
		<string>52,73,94</string>
		<string>241,196,15</string>
	</array>
	<key>backgroundTextColors</key>
	<array>
		<string>149,165,166</string>
		<string>127,140,141</string>
	</array>
</dict>
</plist>
